# The releng team is by default the owner of everything.
*             @rust-sig/eclipsefdn-releng

# Otterdog related configurations are also owned by the security team.
/otterdog/**  @rust-sig/eclipsefdn-security
